<a href="https://colab.research.google.com/github/sacharya-92/SQL-Learning/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:

import pandas as pd
data = pd.DataFrame()
data['name'] =['A','B','C','D','E','F']
data['age']=[22,6,23,45,56,12]
data

  name  age
0    A   22
1    B    6
2    C   23
3    D   45
4    E   56
5    F   12

In [9]:
data.dtypes

name    object
age      int64
dtype: object

In [10]:
kane = data.copy()
kane

  name  age
0    A   22
1    B    6
2    C   23
3    D   45
4    E   56
5    F   12

In [11]:
rtt = data.copy()
rtt

  name  age
0    A   22
1    B    6
2    C   23
3    D   45
4    E   56
5    F   12

In [12]:
from pandas.core.dtypes.base import register_extension_dtype
register_extension_dtype

In [14]:
kane = data.copy()
kane

  name  age
0    A   22
1    B    6
2    C   23
3    D   45
4    E   56
5    F   12

In [17]:
kane1= kane.drop(data.index[2:4])
kane1

  name  age
0    A   22
1    B    6
4    E   56
5    F   12

In [18]:
kane

  name  age
0    A   22
1    B    6
2    C   23
3    D   45
4    E   56
5    F   12

In [19]:
data

  name  age
0    A   22
1    B    6
2    C   23
3    D   45
4    E   56
5    F   12